nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: turquoise;
}

ul{
  display: flex;
  list-style: none;
}

li {
  list-style: none;
  margin-right: 1rem;
}

li a {
  text-decoration: none;
  padding: 0 2vh;
  color: black;
}  

