nav {
  background: rgba( 240, 218, 145, 0.55 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );  display: flex;
  width: 100%;
  flex-direction: row;
}

ul {
  display: flex;
  list-style: none;
}

li {
  list-style: none;
  margin-right: 1rem;
}

li a {
  color: rgb(169, 102, 233);
  font-weight: bold;
  text-decoration: none;
  padding: 0 1.5vh;
}
