body {
  background-color: #fff;
}

#contact-section {
  background: rgba(223, 223, 223, 0.5);
  box-shadow: 0px 6px 15px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 300px;
  margin: 5vh auto;
}

.contact-title {
  font-size: clamp(1.1rem, 0.4867rem + 1.0667vw, 1.3rem);
  padding: 0 5vh;
}

.social-media {
  text-align: start;
  font-size: clamp(1rem, 0.4867rem + 1.0667vw, 1.3rem);
  padding: 0 2vh;
}

.AboutMe-Title {
  grid-area: title;
  font-size: clamp(1rem, 0.4867rem + 1.0667vw, 1.3rem);
  padding: 0 2vh;
}

.aboutME-Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ME {
  width: 100%;
  max-width: 150px;
  border-radius: 28px;
  grid-area: image;
}

.AboutME {
  grid-area: description;
  width: 100%;
  max-width: 250px;
}

@media (min-width: 750px) {
  #contact-section {
    display: flex;
    max-width: 600px;
    height: 80vh;
  }
  .aboutME-Section {
    width: 100%;
    display: grid;
    grid-template-areas:
      "image title"
      "image description"
      "image .  ";
    margin: 6vh 0;
  }
  .linkedin,
  .github {
    font-size: clamp(1.2rem, 0.4867rem + 1.0667vw, 1.3rem);
  }
  .AboutMe-Title,
  .social-media {
    font-size: clamp(1.2rem, 0.4867rem + 1.0667vw, 1.3rem);
  }
  .AboutMe-Title {
    text-align: center;
  }
  .AboutME {
    width: 100%;
    max-width: 400px;
  }
}
