footer {
  margin-top: 3vh;
  background-color: rgba(240, 218, 145, 0.55);
  padding-top: 1vh;
}
.footer-phrase {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.heart {
  color: #cb6ce6;
}

.footer-github {
  color: #cb6ce6;
  text-decoration: none;
}

@media (min-width: 750px) {
  footer {
    height: 5vh;
  }
}
