section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
text-align: center;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p {
    font-size: clamp(0.9rem, 0.4867rem + 1.0667vw, 1.3rem);
}

.intent {
    background-color: rgb(170, 120, 53);
}