section {
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-areas: 
        'title'
        'image'
        'description'
}

h2 {
    grid-area: title;
}
img {
    grid-area: image;
}
p {
    grid-area: description;
}